.MainWrapper {
  padding-bottom: 25px;
  display: grid;
  justify-content: center;
  justify-items: center;
  grid-template-columns: repeat(auto-fit, minmax(325px, 550px));
  grid-gap: 20px;
}

.SearchTags {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 15px;
  margin-bottom: 20px;
}