.User {
  display: flex;
  align-items: center;
}

.UserName {
  padding-left: 10px;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.UserImage {
  object-fit: cover;
  aspect-ratio: 1.2;
  width: 100%;
  max-width: 88vh;
  max-height: 73vh;
  margin-bottom: 10px;
  border-radius: 25px;
  border: 1px solid #d9d9d9;
}

.UserAvatar {
  aspect-ratio: 1;
  object-fit: cover;
  border-radius: 50%;
}
