.Card {
  width: 550px;
}

.CardControls {
  height: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  user-select: none;
}

.Controls {
  display: grid;
  grid-template-columns: 20px 35px 25px 30px;
  align-items: center;
}

.LikesIcon {
  cursor: pointer;
}

.Controls object {
  padding-left: 5px;
}

.Register {
  display: block;
  margin: 5px auto 25px;
  background-color: var(--accent-color2);
  color: white;
  font-size: var(--default-font-nav-size);
  padding: 11px 21px;
  border: none;
  border-radius: 75px;
}

.Register a {
  color: inherit;
}

.CardHashTag {
  padding-left: 7px;
}

.CardTags {
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  gap: 20px 15px;
}

.CardTag {
  color: white;
  background-color: var(--accent-color2);
  padding: 5px 20px;
  border-radius: 75px;
  white-space: nowrap;
  box-shadow: 1px 3px 4px rgba(0, 0, 0, 0.25);
}

.CardTag:visited {
  color: white;
}

.CardName {
  margin: 20px 0;
  font-size: 24px;
  font-weight: normal;
}

.CardDescription {
  font-size: 20px;
  margin-bottom: 30px;
  margin-top: 0;
}
