.Card {
  width: 550px;
}

.UserImage {
  padding-bottom: 10px;
  font-size: 14px;
}

.CardControls {
  display: flex;
  justify-content: space-between;
  align-items: center;
  user-select: none;
}

.Controls {
  display: flex;
  align-items: center;
}

.Controls svg {
  cursor: pointer;
}

.Controls object {
  padding-left: 5px;
}

.Register {
  display: block;
  margin: 5px auto 25px;
  background-color: var(--accent-color2);
  color: white;
  font-size: var(--default-font-nav-size);
  padding: 11px 21px;
  border: none;
  border-radius: 75px;
}

.Register a {
  color: inherit;
}

.CardHashTag {
  padding-left: 7px;
}
