.Artwork {
  position: fixed;
  top: 101px;
  left: 0;
  height: calc(100vh - 101px);
  width: calc(100vw - 30vw);
  background-color: white;
  padding: 45px 15vw;
  overflow-y: auto;
}

.ArtworkClose {
  position: absolute;
  right: 75px;
  top: 10px;
  font-size: 28px;
  background: none;
  border: none;
}

.Artwork .Card {
  display: grid;
  grid-template-columns: calc(50vw - 50px) 20vw;
  gap: 50px;
}

.Artwork .Controls {
  width: 100%;
  display: grid;
  grid-template-columns: 30px auto 20px 30px;
}

.Artwork .Controls .LikesCount {
  order: 4;
}

.Artwork .Controls svg {
  order: 3;
}

.Artwork .Controls .ViewsCount {
  order: 2;
}

.Artwork .Controls object {
  order: 1;
}

.Artwork .UserName {
  font-size: 20px;
}
