.Artwork {
  background-color: white;
  padding: 45px 15vw;
  overflow-y: auto;
}

.ArtworkClose {
  position: absolute;
  right: 75px;
  top: 111px;
  font-size: 28px;
  background: none;
  border: none;
}

.Artwork .Card {
  display: grid;
  grid-template-columns: 88vh calc(100vw - 88vh - 35vw);
  gap: 50px;
}

.Artwork .Controls {
  width: 100%;
  display: grid;
  grid-template-columns: 25px auto 20px 30px;
}

.Artwork .Controls .LikesCount {
  order: 4;
}

.Artwork .LikesIcon {
  order: 3;
}

.Artwork .Controls .ViewsCount {
  order: 2;
}

.Artwork .ViewsIcon {
  order: 1;
}

.Artwork .UserName {
  font-size: 20px;
}

.CardInformation {
  width: 100%;
}
