@font-face {
  font-family: CenturyGothic;
  src: url(../assets/СenturyGothic.ttf);
}

@font-face {
  font-family: BookmanOld;
  src: url(../assets/BookmanOld.ttf);
}

:root {
  --accent-color: #be70d9;
  --accent-color2: #a2bea8;
  --accent-color3: #757171;
  --default-font-nav-size: 20px;
  --default-font-size: 16px;
  --default-margin: min(100px, 7vw);
  --default-nav-height: 100px;
  --default-form-font-size: 24px;
}

body {
  margin: 0;
  padding: 0;
  font-family: CenturyGothic, serif;
  font-size: var(--default-font-size);
}

a {
  text-decoration: none;
  color: black;
}

a:visited {
  color: black;
}

button {
  cursor: pointer;
}

input,
textarea,
select,
button {
  font-family: inherit;
}

.App {
  min-height: calc(100vh - var(--default-nav-height) - 1px - 100px);
}

.AppWrapper {
  padding: 25px var(--default-margin) 25px;
}

.AppWrapperLarge {
  width: 935px;
  margin: auto;
}

form a {
  text-decoration: underline;
}

.Hidden {
  visibility: hidden;
}

.notification-container {
  position: fixed;
  top: 100px;
  right: 0;
  z-index: 999999;
  width: 320px;
  padding: 0 15px;
  max-height: calc(100% - 30px);
  overflow-x: hidden;
  overflow-y: auto;
}
.notification,
.notification-container {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.notification {
  padding: 15px 15px 15px 58px;
  border-radius: 2px;
  color: #fff;
  background-color: #ccc;
  -webkit-box-shadow: 0 0 12px #999;
  box-shadow: 0 0 12px #999;
  cursor: pointer;
  font-size: 1em;
  line-height: 1.2em;
  position: relative;
  opacity: 0.9;
  margin-top: 15px;
}
.notification .title {
  font-size: 1em;
  line-height: 1.2em;
  font-weight: 700;
  margin: 0 0 5px;
}
.notification:focus,
.notification:hover {
  opacity: 1;
}
.notification-enter {
  visibility: hidden;
  -webkit-transform: translate3d(100%, 0, 0);
  transform: translate3d(100%, 0, 0);
}
.notification-enter.notification-enter-active {
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}
.notification-enter.notification-enter-active,
.notification-exit {
  visibility: visible;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
}
.notification-exit.notification-exit-active {
  visibility: hidden;
  -webkit-transform: translate3d(100%, 0, 0);
  transform: translate3d(100%, 0, 0);
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}
.notification:before {
  position: absolute;
  top: 50%;
  left: 15px;
  margin-top: -14px;
  display: block;
  width: 28px;
  height: 28px;
  font-size: 28px;
  text-align: center;
  line-height: 28px;
}
.notification-info {
  background-color: var(--accent-color3);
}
.notification-info:before {
  content: '!';
}
.notification-success {
  background-color: var(--accent-color2);
}
.notification-success:before {
  content: '\2714';
}
.notification-warning {
  background-color: #dab37e;
}
.notification-warning:before {
  content: '\26A0';
}
.notification-error {
  background-color: var(--accent-color);
}
.notification-error:before {
  content: '\2716';
}
