@media (min-width: 375px) and (max-width: 992px) {
  :root {
    --default-font-nav-size: 11px;
    --default-font-size: 12px;
    --default-nav-height: 45px;
    --default-form-font-size: 12px;
  }

  a,
  button,
  input,
  svg {
    -webkit-tap-highlight-color: transparent;
  }

  .AppWrapper {
    padding: 15px var(--default-margin) 0;
  }

  .AppWrapperLarge {
    width: 335px;
  }

  .UtilityNavigation {
    grid-template-columns: 100px 22px;
    justify-content: space-between;
  }

  .LogoText {
    padding-left: 10px;
    font-size: 14px;
  }

  .UtilityNavigationWrapper {
    display: none;
    width: 100vw;
    height: 100vh;
    padding-top: 50px;
    position: absolute;
    left: 0;
    top: 46px;
    flex-direction: column;
    grid-gap: 15px;
    background-color: white;
    z-index: 10;
  }

  .Link {
    transition: 0s;
    border-bottom: 1px solid transparent;
    border-top: 1px solid transparent;
  }

  .Link:hover,
  .CurrentLink {
    border-bottom: 1px solid var(--accent-color);
    padding: 0;
  }

  .CurrentLink {
    border-bottom-width: 1px;
  }

  .UtilityMobileNavigaion {
    display: block;
    width: 22px;
    padding: 0;
    background-color: transparent;
    border: none;
  }

  .UtilityMobileNavigaion span {
    display: block;
    width: 22px;
    height: 1.1px;
    margin-bottom: 6px;
    background-color: black;
  }

  .UtilityMobileNavigaion span:last-child {
    margin-bottom: 0;
  }

  .UserNavigation {
    height: 50px;
    top: 46px;
    left: 50%;
    position: absolute;
    z-index: 12;
    transform: translateX(-50%);
    font-size: var(--default-font-nav-size);
    text-align: center;
    transition: none;
    box-shadow: none;
  }

  .UserNavigation a:first-child {
    display: none;
  }

  .UserNavigation a {
    width: 60px;
    height: 23px;
    border: 1px solid gray;
    border-radius: 60px;
    line-height: 23px;
  }

  .UserNavigation a:first-child:after {
    content: none;
  }

  .SearchFormNav {
    display: none;
  }

  .SearchForm {
    height: 24px;
  }

  .SearchFormNoHeader {
    top: calc(var(--default-nav-height) + 15px);
  }

  .SearchInput {
    width: 100%;
    height: 24px;
    padding-right: 30px;
    padding-left: 15px;
    border: 1px solid var(--accent-color3);
    background-color: white;
    color: black;
  }

  .SearchInput::placeholder {
    color: black;
  }

  .SearchButton {
    margin-left: -30px;
    filter: invert(1);
  }

  .SearchButton img {
    width: 10px;
  }

  .SearchForm .SearchInput {
    width: calc(100vw - 20vw);
    font-size: 12px;
    height: 24px;
    padding-left: 11px;
    padding-right: 11px;
  }

  .SearchOnlyMobile {
    display: block;
  }

  .UtilityNavigation .User {
    position: absolute;
    visibility: hidden;
  }

  .Header {
    height: 100px;
    margin-top: 0;
  }

  .HeaderTitle {
    top: 25px;
    font-size: 16px;
  }

  .HeaderTitle::before {
    width: 8px;
    height: 1px;
    left: 33px;
    top: 3px;
  }

  .HeaderTagline {
    width: 70vw;
    top: 45px;
    padding-left: 1px;
    font-size: 11px;
  }

  .Header .LogoWrapper {
    right: 0;
  }

  .LogoImage {
    width: 35px;
  }

  .Header .LogoImage {
    width: 72px;
  }

  .Wave1,
  .Wave2 {
    width: 20%;
  }

  .MainWrapper {
    margin-top: 30px;
    grid-template-columns: auto;
  }

  .Card {
    width: 350px;
  }

  .Controls {
    grid-template-columns: 15px 22px 22px 20px;
  }

  .CardControls {
    height: 23px;
  }

  .Controls svg {
    height: 12px;
  }

  .UserImage {
    width: 100%;
    border-radius: 15px;
  }

  .User img {
    width: 23px;
  }

  .UserName {
    padding-left: 7px;
  }

  .Controls {
    width: 80px;
  }

  .Controls object {
    height: 12px;
  }

  .Footer {
    height: 50px;
    position: absolute;
    bottom: 0;
    right: 0;
    visibility: hidden;
    font-size: var(--default-font-nav-size);
    z-index: 11;
  }

  .GithubLink {
    margin-left: 10px;
  }

  .LoginForm {
    width: 335px;
    height: 185px;
    left: calc(50% - 335px / 2);
    top: calc(50% - 185px / 2 - 50px);
    border-radius: 37px;
  }

  .FormTitle {
    font-size: 17px;
    margin-top: 20px;
    margin-bottom: 15px;
  }

  .FormTitle::before,
  .FormTitle::after {
    width: 38px;
    height: 2px;
  }

  .FormTitle::before {
    top: 12px;
    left: calc(50% - 57px - 5px);
  }

  .FormTitle::after {
    top: -12px;
    left: calc(50% + 18px + 5px);
  }

  .FormInput {
    width: 270px;
    height: 25px;
    padding: 0 10px;
    font-size: 12px;
    margin-bottom: 10px;
  }

  .FormButton {
    padding: 5px 20px;
    font-size: 12px;
    margin-top: 5px;
  }

  .ToRegister {
    top: 35px;
    font-size: 9px;
  }

  .RegisterForm {
    width: 335px;
    left: calc(50% - 335px / 2);
    top: calc(50% - 260px / 2 - 50px);
    border-radius: 37px;
  }

  .RegisterForm .FormTitle::before {
    top: 12px;
    left: calc(50% - 90px - 5px);
  }

  .RegisterForm .FormTitle::after {
    top: -12px;
    left: calc(50% + 53px + 5px);
  }

  .FormCheckboxInput {
    font-size: 10.5px;
    margin-top: 5px;
    margin-bottom: 10px;
  }

  input[type='checkbox'] {
    width: 21px;
    height: 21px;
    margin-right: 14px;
  }

  input[type='checkbox']:checked::before {
    font-size: 15px;
    padding-left: 10px;
    padding-top: 0px;
    padding-bottom: 13px;
  }

  .ToLogin {
    top: 30px;
    font-size: 9px;
  }

  .Users {
    font-size: 12px;
    margin-top: 15px;
    gap: 10px;
  }

  .Users .UserName {
    padding-left: 12px;
  }

  .UserHeader {
    height: 170px;
    gap: 30px;
    justify-content: center;
  }

  .UserHeader .User {
    align-items: center;
    gap: 5px;
  }

  .UserHeader .UserAvatar {
    width: 70px;
  }

  .UserHeader .UserName {
    font-size: 10px;
    width: 90px;
  }

  .AboutUserText {
    width: 200px;
    min-height: 40px;
    margin-bottom: 5px;
    border-radius: 7px;
    padding: 4px 6px;
    font-size: 9px;
  }

  .AboutUserTextAlone {
    min-height: 65px;
  }

  .AboutUserControls button {
    width: 102px;
    height: 20px;
    font-size: 7px;
  }

  .Wave3 {
    width: 107px;
    transform: scaleX(-1);
    top: -23px;
    right: 5%;
  }

  .Wave4 {
    display: none;
  }

  .Wave5 {
    display: block;
    position: absolute;
    width: 92px;
    right: 375px;
    left: 0;
    top: 181px;
  }

  .UserHeader ~ .MainWrapper {
    grid-gap: 15px;
    margin-top: 15px;
  }

  .UserHeader ~ .MainWrapper .UserImage {
    padding: 0;
  }

  .EditForm {
    width: 285px;
    height: 385px;
    padding: 0 25px;
    border-radius: 32px;
    top: calc(50% - 385px / 2);
    left: calc(50% - 337px / 2);
  }

  .EditForm .FormTitle::before {
    top: 13px;
    left: calc(50% - 142px - 5px);
  }

  .EditForm .FormTitle::after {
    top: -11px;
    left: calc(50% + 113px - 5px);
  }

  .ChangeAvatar {
    font-size: 9px;
    gap: 3px;
    margin-bottom: 15px;
  }

  .ChangeAvatar .User img {
    width: 54px;
  }

  .UserData {
    grid-template-columns: 110px auto;
    grid-gap: 13px;
    margin-bottom: 5px;
  }

  .FormInput2 {
    height: 14px;
    border-bottom: 0.5px solid #000;
  }

  .EditForm .FormButton {
    margin-top: 10px;
  }

  .notification-container {
    top: 45px;
  }

  .Artwork {
    top: 46px;
    width: 100vw;
    padding: 45px 0 0;
  }

  .Artwork .Card {
    grid-template-columns: auto;
    width: 100%;
    gap: 0;
    padding-bottom: 30px;
  }

  .Artwork .UserImage {
    width: 99.5%;
    max-height: 100vh;
    aspect-ratio: 0.8;
    border-radius: 0;
    border-top: 1px solid black;
  }

  .Artwork .CardControls {
    padding: 0 10px;
  }

  .CardInformation {
    width: calc(100% - 30px);
    padding: 0 15px;
  }

  .ArtworkClose {
    right: 10px;
    top: 50px;
    font-size: 22px;
  }

  .Artwork .CardInformation .User {
    position: absolute;
    top: 56px;
  }

  .Artwork .Controls {
    grid-template-columns: 24px auto 17px 20px;
  }

  .Artwork .Controls span {
    font-size: 10px;
  }

  .Artwork .UserName {
    font-size: 12px;
  }

  .CardName {
    font-size: 12px;
    margin: 5px 0;
  }

  .CardDescription {
    font-size: 10px;
    margin-bottom: 10px;
  }

  .CardTags {
    font-size: 10px;
    gap: 6px;
  }

  .About {
    gap: 22vh;
    padding: 40px 0 0;
  }

  .AboutSection {
    width: 260px;
    padding: 10px 20px;
    border-radius: 33px;
  }

  .AboutSection:nth-child(even) {
    align-self: flex-start;
  }

  .AboutSection:nth-child(odd) {
    align-self: flex-end;
  }

  .AboutHeader {
    font-size: 16px;
  }

  .About p,
  .About ul {
    font-size: 10px;
  }

  .Wave6 {
    width: 50vw;
    top: 46px;
    left: 5vw;
  }

  .Wave7 {
    width: 30vw;
    top: 34vh;
    right: 2vw;
  }

  .Wave8 {
    width: 45vw;
    left: 5vw;
  }

  .AddArtworkForm {
    width: 335px;
    top: calc(50% - 280px / 2);
    left: calc(50% - 335px / 2);
    border-radius: 37px;
    padding-bottom: 25px;
  }

  .AddArtworkForm .FormTitle::before {
    top: 14px;
    left: calc(50% - 125px - 5px);
  }

  .AddArtworkForm .FormTitle::after {
    top: -10px;
    left: calc(50% + 86px + 5px);
  }

  .AddArtworkForm label {
    width: 290px;
  }

  .AddArtworkForm .FormInput {
    width: 270px;
    border-radius: 13px;
  }

  .AddArtworkForm .FormLargeInput {
    height: 55px;
    padding: 5px 10px;
  }

  .AddArtworkForm .FormCroppedInput {
    width: 240px;
  }

  .HasAddButton::after {
    margin-top: -36px;
    margin-left: 273px;
    font-size: 17px;
  }

  .SearchTags {
    margin-top: 20px;
  }

  .Error {
    margin-top: -46px;
  }

  .ErrorNumber {
    font-size: 100px;
  }

  .ErrorDescription {
    font-size: 20px;
    margin-top: 10px;
  }
}

@media (min-width: 550px) and (max-width: 993px) {
  .AboutSection:nth-child(even) {
    align-self: flex-end;
  }

  .AboutSection:nth-child(odd) {
    align-self: flex-start;
  }
}

@media (min-width: 993px) and (max-width: 1366px) {
  :root {
    --default-font-nav-size: 16px;
    --default-form-font-size: 16px;
  }

  .MainWrapper {
    grid-template-columns: repeat(auto-fit, minmax(325px, 450px));
  }

  .Card {
    width: 450px;
  }

  .FormTitle {
    font-size: 25px;
    margin-top: 25px;
    margin-bottom: 15px;
  }

  .FormTitle::before,
  .FormTitle::after {
    width: 50px;
  }

  .RegisterForm .FormTitle::before {
    top: 17px;
    left: calc(50% - 127px - 5px);
  }

  .RegisterForm .FormTitle::after {
    top: -17px;
    left: calc(50% + 77px + 5px);
  }

  .FormInput {
    width: 430px;
    height: 30px;
    font-size: var(--default-font-nav-size);
    margin-bottom: 13px;
  }

  .RegisterForm {
    width: 550px;
    position: relative;
    top: max(calc(50vh - 315px), 20px);
    left: calc(50% - 550px / 2);
  }

  .FormCheckboxInput {
    font-size: var(--default-font-nav-size);
    margin: 0 auto 5px;
  }

  .FormButton {
    font-size: var(--default-font-nav-size);
    padding: 5px 20px;
  }

  .ToLogin {
    top: 50px;
  }

  input[type='checkbox'] {
    width: 20px;
    height: 20px;
    margin-right: 15px;
  }

  input[type='checkbox']:checked::before {
    font-size: 14px;
    padding-left: 10px;
    padding-top: 0px;
    padding-bottom: 13px;
  }

  .LoginForm {
    width: 550px;
    height: 235px;
    position: relative;
    top: max(calc(50vh - 235px), 20px);
    left: calc(50% - 550px / 2);
  }

  .LoginForm .FormTitle::before {
    top: 18px;
    left: calc(50% - 78px - 5px);
  }

  .LoginForm .FormTitle::after {
    top: -17px;
    left: calc(50% + 30px + 5px);
  }

  .EditForm {
    width: 500px;
    height: 600px;
    left: calc(50% - 630px / 2);
    top: calc(50% - 600px / 2 + 50px);
  }

  .EditForm .FormTitle::before {
    top: 18px;
    left: calc(50% - 202px - 5px);
  }

  .EditForm .FormTitle::after {
    top: -17px;
    left: calc(50% + 163px - 5px);
  }

  .ChangeAvatar {
    margin-bottom: 15px;
    font-size: 18px;
  }

  .UserData {
    grid-template-columns: 150px auto;
    grid-gap: 15px;
  }

  .Artwork {
    padding: 45px 10vw;
  }

  .Artwork .Card {
    grid-template-columns: calc(50vw - 50px) calc(100vw - 88vh - 15vw);
  }

  .Artwork .UserName {
    font-size: 16px;
  }

  .Artwork .CardName {
    font-size: 20px;
    margin: 15px 0;
  }

  .Artwork .CardDescription {
    font-size: 16px;
    margin-bottom: 20px;
  }

  .AddArtworkForm {
    top: calc(50% - 440px / 2);
  }

  .AddArtworkForm .FormTitle::before {
    top: 19px;
    left: calc(50% - 179px - 5px);
  }

  .AddArtworkForm .FormTitle::after {
    left: calc(50% + 127px + 5px);
    top: -16px;
  }

  .AddArtworkForm .FormLargeInput {
    border-radius: 15px;
    height: 100px;
  }

  .HasAddButton::after {
    font-size: 22px;
    margin-top: -45px;
  }

  .About {
    padding: 50px calc(20vw - min(100px, 7vw));
    height: calc(100vh - 100px * 2 - 50px - 1px);
  }
}
